<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/logo.png">
    <link rel="stylesheet"  type="text/css" href="../static/mailapp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <div class="container">
        <h1 id="titulo">PAGINA JOAM</h1>
        <h3>Iniciar sesión</h3>
        <form action="/login" method="POST">
            <p>Correo Electronico:</p>
            <input type="email" name="email" placeholder="Correo electrónico" required><br>
            <p>Contraseña:</p>
            <input type="password" name="password" placeholder="Contraseña" required><br>
            <br>
            <input type="submit" value="Iniciar sesión" class="add">
        </form>
        <h4 class="text-enlace">¿No tienes una cuenta? <a href="./registro.html">Regístrate aquí</a></h4>
        <h4 class="text-enlace">
            <a href="./main.html">Volver al apartado anterior</a>
            <br>
        </h4>
    </div>
</body>
</html>