<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../static/logo.png">
  <link rel="stylesheet"  type="text/css" href="../static/mailapp.css">
  <title>ADDMAIL RESULT</title>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <div class="container">
  <h1 id="titulo"> SERVEI ACTUALITZACIÓ MAIL</h1>
{% if result_msg == "JAEXISTEIX" %}
  <h2>El correu pel nom <b>{{ nom }}</b> ja estava a les nostres dades.</h2>
{% elif result_msg == "MODIFICAT" %}
  <h2>El correu pel nom <b>{{ nom }}</b> ja estava i ha quedat modificat a: <b>{{ correu }}</b></h2>
{% else %}
  <h2>El correu pel nom <b>{{ nom }}</b> ha esta afegit com: <b>{{ correu }}</b></h2>
{% endif %}
<h4 class="text_enlace">
  Pots afegir més correus a l'enllaç <a href="./formaddmail.html">ADDMAIL</a>,
</h4>
<h4 class="text-enlace">
  o pots consultar els correus a l'enllaç <a href="./formgetmail.html" target="_blank">GETMAIL</a>
</h4>
</div>
</body>
</html>